*.code-workspace
.vscode
.ansible_facts_cache
.vagrant
*.log
inventory/*
!inventory/sample
!inventory/vagrant
inventory/*/artifacts/
multipass-cloud-init.yml
tools/inventory.yml
poetry.lock
distros/
k9s_linux_amd64.deb
.python-version
/tools/artifacts/

